@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

body {
  background-color: #214758;
  font-family: "Itim", sans-serif;
  color: #ffffff;
}

div#container {
  width: 1170px;
  margin: 0 auto;
}

header {
  background-color: #49485D;
  color: white;
  text-align: center;
  padding: 62px 0px;
}

h1 {
  font-family: "Irish Grover", "Itim";
  font-size: 90px;
  color: #FFFFFF;
}

h2 {
  font-family: "Itim";
  font-size: 52px;
  color: #D1D1D1; 
}

h3 {
  font-family: "Itim";
  font-size: 25px;
  color: #FFFFFF;
}

img.portadaArt {
  float: left;
  margin-right: 20px;
}

h4 {
  font-family: "Itim";
  font-size: 72px;
  color: #FFFFFF;
  background-color: #8D7689;
  padding: 20px;
}

img.primeraSeccion {
  float: right;
	margin-top: 40px; 
  margin-left: 20px;
  margin-right: 20px;
}

h5 {
  font-family: "Itim";
  font-size: 27px;
  color: #E0E0E0; 
  background-color: #8D7689;
  padding: 60px;
}


.seccionesExtras {
  display: block;
  margin: 50px 0;
}

.pack {
  background-color: #3b3246;
  border-radius: 10px;
  padding: 40px;
  margin-bottom: 40px;
  width: 100%;
  text-align: center;
  color: white;
  font-family: "Itim";
  box-sizing: border-box;
}

.pack h5 {
  font-size: 42px;
  margin-bottom: 20px;
  color: #E0E0E0; 
}

.imagenPack {
  max-width: 60%;
  height: auto;
  display: block;
  margin: 0 auto 20px auto;
  border-radius: 10px;
}

.pack button {
  background-color: #8D7689;
  color: white;
  border: none;
  padding: 10px 20px;
  font-family: "Itim";
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.pack button:hover {
  background-color: #a98ca5;
}

.contenidoExtra {
  display: none;
  margin-top: 15px;
  text-align: left;
  color: #FFFFFF; 
}


.pack.hidden-dreams {
  background-color: #0f2c3f; /* Azul oscuro */
	font-size: 30px
}

.pack.grimm-troupe {
  background-color: #6e1a1a; /* Rojo oscuro */
	font-size: 30px
}

.pack.godmaster {
  background-color: #b99c38; /* Dorado */
	font-size: 30px
}

.pack h5 {
  font-size: 36px; 
}

.pack .imagenPack {
  width: 80%; 
  margin: 0 auto 10px auto;
  display: block;
}


.seccionesExtras {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 50px 0;
}

.pack {
  border-radius: 10px;
  padding: 20px;
  width: 100%; 
  text-align: center;
  color: white;
  font-family: "Itim";
}


footer {
  background-color: #49485D;
  padding: 40px 0;
  text-align: center;
  color: white;
  font-family: "Itim";
	font-size: 20px;
	display: block;
}

.footer-imagenes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 40px;
}
a{
	color: white;
	font-size: 30px;
}
.img-footer {
  max-height: 50px;
}

.img-footer.centro {
  max-height: 200px; 
}
.contenidoExtra.show {
  display: block;
}
.nav_ocultar {
    background-color: #77648A; 
    padding: 35px 0;
	margin-top: 20px;
    /*text-align: center;*/
}

.nav_ocultar ul {
    list-style: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
    gap: 100px; 
}

.nav_ocultar ul li {
    display: inline-block; 
	font-family: "Irish Grover", sans-serif; 
    font-size: 40px; 
    color: #FFFFFF; 
    text-decoration: none; 
    padding: 10px 30px;
    transition: background-color 0.3s ease; 
}


.nav-item:hover {
    background-color: #77648A; 
    border-radius: 5px; 
}
nav.nav_ocultar ul {list-style: none;
					margin: 10px;
					display:flex;
					gap: 1rem;}
nav.nav_ocultar li a {
	text-decoration: none;
	font-size: 40px;
}
.abrir_menu{display: none;
	font-size: 2.5em;
	border-width: 15px;
	border-color: #77648A;
}
/*estilo de celular*/

@media (max-width:1200px){
	.abrir_menu{display: block;}
	nav.nav_ocultar ul {flex-direction: column;
	display: none;
		background-color: #7B638D;}
	
		nav.nav_ocultar ul.show{
			display: flex;
		}
	nav.nav_ocultar{
		padding: 0px 0px;
	}
}

